<%- model_class = ExportSet -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.titleize %><%= ": #{@export_run.data_source.name} at #{@export_run.started_at}" if @export_run %> </h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:record_size) %></th>
      <th><%= model_class.human_attribute_name(:data_record_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @export_sets.each do |export_set| %>
      <tr>
        <td><%= link_to export_set.id, export_set_path(export_set) %></td>
        <td><%= export_set.record_size %></td>
        <td><%= export_set.data_record_id %></td>

        <td><%=l export_set.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @export_sets %>