<%- model_class = ExportRun -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.titleize %></h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:started_at) %>:</strong></dt>
  <dd><%= @export_run.started_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:finished_at) %>:</strong></dt>
  <dd><%= @export_run.finished_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_source_id) %>:</strong></dt>
  <dd><%= @export_run.data_source_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:export_record_id) %>:</strong></dt>
  <dd><%= link_to "Record List", export_records_path(:q => {:export_run_id_eq => @export_run.id}, :params => {export_run_id: @export_run.id}) if @export_run.export_records %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              export_runs_path, :class => 'btn'  %>
</div>
