<%= simple_form_for @data_source, :html => {:class => 'form-vertical'} do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :active %>
    <%= f.input :contact %>
    <%= f.input :cron_schedule %>
    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  data_sources_path, :class => 'btn' %>
    </div>
<% end %>
