<%- model_class = Blob -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= search_form_for @search, :html => {:class => "form-inline"} do |f| %>
    <%= f.text_field :data_cont %>
    <%= f.submit "Search", :name => nil, :class => "btn" %>
    <%= f.submit "Clear", :name => nil, :class => "btn", :id => :q_reset %>
    <span class="badge"><%= @search.result.count %></span> of
    <span class="badge badge-inverse"><%= Blob.count %></span>
<% end %>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:data) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
  </tr>
  </thead>
  <tbody>
  <% @blobs.each do |blob| %>
      <tr>
        <td><%= link_to blob.id, blob_path(blob) %></td>
        <td><%= truncate blob.data %></td>
        <td><%= l blob.created_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @blobs %>
