<%- model_class = DataSource -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @data_source.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @data_source.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:active) %>:</strong></dt>
  <dd><%= @data_source.active %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact) %>:</strong></dt>
  <dd><%= @data_source.contact %></dd>
  <% if user_signed_in? %>
      <% if current_user.has_role? :admin %>
          <dt><strong><%= model_class.human_attribute_name(:connection_info) %>:</strong></dt>
          <dd><%= @data_source.connection_info %></dd>
          <dt><strong><%= model_class.human_attribute_name(:cron_schedule) %>:</strong></dt>
          <dd><%= @data_source.cron_schedule %></dd>
      <% end %>
  <% end %>
</dl>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              data_sources_path, :class => 'btn' %>
  <% if can? :edit, @data_source %>
      <%= link_to_edit(@data_source) %>
  <% end %>
  <% if can? :destroy, @data_source %>
      <%= link_to_destroy(@data_source) %>
  <% end %>

</div>
