<%- model_class = ExportRecord -%>
<div class="page-header">
  <h2><%= t '.title', :default => model_class.model_name.human.titleize %></h2>
</div>

<dl class="dl-horizontal">

  <dt><strong><%= model_class.human_attribute_name(:record_size) %>:</strong></dt>
  <dd><%= @export_record.record_size %></dd>

  <dt><strong>Data Sources:</strong></dt>
  <% @export_record.data_sources.each do |ds| %>
      <dd><%= link_to ds.name, ds %></dd>
  <% end %>


</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              export_records_path, :class => 'btn' %>
</div>
