<%- model_class = ExportRecord -%>
<div class="page-header">
  <h2><%= t '.title', :default => model_class.model_name.human.titleize %></h2>
</div>

<dl class="dl-horizontal">

  <dt><strong>Data Source:</strong></dt>
  <dd><%= link_to @export_record.data_source.name, @export_record.data_source %></dd>

  <dt><strong><%= model_class.human_attribute_name(:primary_key).titleize %>:</strong></dt>
  <dd><%= @export_record.primary_key %></dd>

  <dt><strong><%= model_class.human_attribute_name(:checksum).titleize %>:</strong></dt>
  <dd><%= @export_record.checksum %></dd>

  <dt><strong><%= model_class.human_attribute_name(:location_pointer).titleize %>:</strong></dt>
  <dd><%= @export_record.location_pointer %></dd>

  <dt><strong><%= model_class.human_attribute_name(:record_size).titleize %>:</strong></dt>
  <dd><%= @export_record.record_size %></dd>

  <dt><strong>Data:</strong></dt>
  <dd><%= @export_record.blob.data %></dd>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              export_records_path, :class => 'btn' %>
</div>
