<%- model_class = ExportRecord -%>
<div class="page-header">
  <h2><%= t '.title', :default => model_class.model_name.human.titleize.pluralize %> <%= "for #{@export_run.data_source.name} at #{@export_run.started_at}" if @export_run %> </h2>
</div>

<%= search_form_for @search, :html => {:class => "form-inline"} do |f| %>
    <%= f.text_field :blob_data_or_checksum_or_primary_key_cont %>
    <%= f.submit "Search", :name => nil, :class => "btn" %>
    <%= f.submit "Clear", :name => nil, :class => "btn", :id => :q_reset %>
    <span class="badge"><%= @search.result.count %></span> of
    <span class="badge badge-inverse"><%= ExportRecord.count %></span>
<% end %>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= sort_link @search, :primary_key, model_class.human_attribute_name(:primary_key).titleize %></th>
    <th><%= sort_link @search, :checksum, model_class.human_attribute_name(:checksum).titleize %></th>
    <th><%= sort_link @search, :record_size, model_class.human_attribute_name(:record_size).titleize %></th>
    <th><%= sort_link @search, :data_source_id, model_class.human_attribute_name(:data_source_id).titleize %></th>
    <th><%= sort_link @search, :created_at, model_class.human_attribute_name(:created_at).titleize %></th>
  </tr>
  </thead>
  <tbody>
  <% @export_records.each do |export_record| %>
      <tr>
        <td><%= link_to export_record.primary_key, export_record %></td>
        <td><%= link_to export_record.checksum, export_record %></td>
        <td><%= export_record.record_size %></td>
        <td><%= link_to export_record.data_source.name, export_record.data_source %></td>

        <td><%= link_to export_record.created_at, export_record.export_run %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @export_records %>